#Footer {
        height: $H-footer;
        background-color: #f5f5f5;
        color: $C-content;
        box-sizing: border-box;
        .main {
                width: 1200px;
                margin: 0 auto;
                text-align: center;
                .head {
                        padding-top: 20px;
                }
                .year {
                        margin-right: 10px;
                }
                .foot {
                        margin-top: 15px;
                        .theme {
                                margin-right: 15px;
                        }
                }
        }
}